@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@900&Do+Hyeon&family=Jua&family=Nanum+Gothic:wght@700;800&family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NeoDunggeunmo', sans-serif;
  letter-spacing: -1px;
}

-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

input:focus {
  outline: none;
}

.background {
  background: linear-gradient(to bottom right, #e2d5e7, #f0b6e8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
  background-image: url("../public/img/bg00.jpg");
  text-align: center;
  align-items: center;
}

.container {
  /* display: inline-block; */
  /* position: relative; */
  width: 90vw;
  height: 70vh;
  margin: 5vh 0 0 5vw;
  background-color: #ffeffc;
  /* padding: 100px; */
  border: #ea4e41 5px solid;
  border-radius: 20px;
}

.title {
  display: grid;
  font-size: 40px;
  text-align: center;
  font-family: 'Alegreya', sans-serif;
  font-weight: 800;
  padding-top: 20px;
  color: #ea4e41;
}

.InputBox,
.submitBtn {
  padding-left: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.InputBox {
  width: 230px;
  border-radius: 50px 0 0 50px;
}

.submitBtn {
  padding-left: 0;
  width: 40px;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  background-color: #ea4e41;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.memoContainer {
  display: inline-block;
  position: relative;
  width: 84vw;
  height: 57vh;
  top: 3vh;
  text-align: left;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding-top: 8vh;
  flex-direction: column;
}

form {
  display: flex;
  height: 40px;

}

.memo,
.doneMemo {
  display: inline-flex;
  width: 100px;
  height: 70px;
  background-color: #fff;
  border: 1px solid rgba(255, 79, 161, 0.2);
  box-shadow: rgba(106, 36, 82, 0.883) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 10px;
  border-radius: 2px;
  font-family: 'NeoDunggeunmo', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  overflow: hidden;
}

.doneMemo {
  background-image: url("../public/img/done.png");
  background-size: cover;

}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #ffeffc;
  bottom: 0;
  left: 0;
}